<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/materialize.min.css' />
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>

    <div class="container">
        <audio src ="/audio/Intro.mp3" loop>
        </audio>
        <div class="header">
            <h3>WebFlux</h3>
        </div>
        <div class="menu">
            <div class="row">
                <div class="col s12 valign-wrapper menuContainer">
                    <div class="col offset-s4 valign">
                        <button class="btn waves-effect waves-light play">Play</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pageLoader">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="graphs">
            <div class="row">
                <div class="canvasContainer col s10 m6" >
                    <canvas id="wave_first"></canvas>
                </div>
                <div class="col s1">
                    <button id="left"><=</button>
                </div>
                <div class="col s1">
                    <button id="right">=></button>
                </div>
            </div>
            <div class="row">
                <div class="canvasContainer col s10 m6">
                    <canvas id="wave_second"></canvas>
                </div>
                <div class="col s1">
                    <button id="left"><=</button>
                </div>
                <div class="col s1">
                    <button id="right">=></button>
                </div>
            </div>
            <div class="row">
                <div class="canvasContainer col s10 m6">
                    <canvas id="wave_resultant"></canvas>
                </div>

            </div>
        </div>
    </div>
</body>

<script src="/js/jquery.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/plotter.js"></script>
<script src="/js/draggableCanvas.js"></script>
<script src="/js/main.js"></script>
</html>