<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div class="header">
        <h1>Welcome to WebFlux.</h1>
        <h4> Move the wave forms to match them to expected wave form!</h4>
    </div>
    <div class="graphs">
        <div><canvas id="wave_first" height="100px" width="650px"></canvas><button id="left"><=</button><button id="right">=></button></div>
        <div><canvas id="wave_second" height="100px" width="650px"></canvas><button id="left"><=</button><button id="right">=></button></div>
        <div><canvas id="wave_resultant" height="100px" width="650px"></canvas></div>
    </div>
</body>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/waves.js"></script>
<script src="/javascripts/plotter.js"></script>
<script src="/javascripts/main.js"></script>
</html>