<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div class="header">
        <h1>Welcome to KerFlux - Online.</h1>
        <h4> Move the wave forms to match them to expected wave form!</h4>
    </div>
    <div class="graphs">
        <canvas class="wave_first"></canvas>
        <canvas class="wave_second"></canvas>
        <canvas class="wave_resultant"></canvas>
    </div>
</body>
<script src="/public/javascripts/main.js"></script>
</html>

