body {

    background-color: #555;
    color:white;
}

canvas {
    width:100%;
    height:20vh;
}

.pageLoader {
    display: none;
}

.graphs {
    display:none;
}

.menuContainer {
    height:300px;
}

